{% extends "base.html" %}
{% load static %}

{% block header %}
<!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0">Sephora Perez</h1>
                <h2 class="mx-auto mt-2 mb-5">
                    Avocat
                </h2>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

<!-- Interlocuteurs-->
    <section class="project-section interlocutor-section bg-light" id="interlocutor">
        <div class="container">
            <div class="row mb-4 text-center">
                <div class="col-12">
                    <h2 class="mb-3">Vous êtes...</h2>
                    <hr class="mb-5">
                </div>
                <div class="col-12 col-md-6 interlocutor-icon mb-5">
                    <i class="fas fa-briefcase"></i>
                </div>
                <div class="col-12 col-md-6 interlocutor-icon mb-5">
                    <i class="fas fa-user-md"></i>
                </div>
                <div class="col-12 col-md-6 interlocutor-icon mb-5">
                    <i class="fas fa-home"></i>
                </div>
                <div class="col-12 col-md-6 interlocutor-icon mb-5">
                    <i class="fas fa-book"></i>
                </div>
            </div>
        </div>
    </section>

<!-- Avocat -->
    <section class="projects-section bg-light" id="avocat">
        <div class="container">
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'img/sephora.png' %}" alt="Sephora Perez" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white mb-4">Sephora PEREZ</h4>
                                <p class="mb-0 text-white-50">
                                    Formée à l’Université Paris 1 Panthéon Sorbonne, Maître Perez dispose d’un double diplôme en droit et en économie – gestion.<br><br>
                                    Forte d’une expérience tant au sein de juridictions qu’au sein de prestigieux cabinets anglo-saxon, Maître Perez intervient aussi bien en conseil qu’en contentieux.<br><br>
                                    Maître Perez est également membre de l’Union des Jeunes Avocats, association qui accompagne les avocats dans leur insertion professionnelle.<br><br>
                                    Dans la gestion de ses dossiers, elle se consacre avec sérieux et passion aux intérêts de ses clients afin d’obtenir le meilleur résultat.
                                </p>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Signup-->
    <section class="signup-section" id="signup">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                    <form class="form-inline d-flex">
                        <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Enter email address..." />
                        <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}