{% extends 'base.html' %} 
{% load static %} 

{% block header %}
<!-- Header -->
<header class="honoraires-head">
  <div class="container d-flex align-items-center">
    <div class="mx-auto text-center">
      <h1 class="text-light text-upper mx-auto my-0">Honoraires</h1>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}

<!-- Sub-specialties -->
<section class="honoraires-section bg-light">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 text-justify">
            <p>
                L'honoraire de l'avocat doit faire l'objet d'une concertation préalable pour clarifier d'emblée cette question importante.<br><br>
                Conformément aux usages de la profession, les honoraires sont établis en fonction du temps consacré à l’affaire, de sa nature et de sa difficulté, de la situation de fortune du client, des avantages et des résultats obtenus ; de l’incidence des frais et charges du cabinet.<br><br>
                Les honoraires doivent être distingués des frais qui sont l’accessoire du procès, comme par exemple les frais d’huissier pour signification d’une assignation devant le tribunal ou d’une décision de justice.<br><br>
                Les dépens sont les frais taxables d’un procès, notamment les émoluments de droits de plaidoirie, de frais de procédure dus aux avocats, huissiers de justice, experts judiciaires...<br><br>
                Les frais et dépens sont à la charge initiale du client, puis, sont en principe mis à la charge de la partie perdante d’un procès.<br><br>
                Si le client bénéficie d'une protection juridique, il conviendra de déclencher l'ensemble des garanties permettant au client d'alléger au maximum le coût de la procédure, qu'elle soit amiable ou judiciaire.<br><br>

                <h5 class="mb-3">Types d’honoraires </h5>
                La convention d’honoraire prévoit généralement quatre types d'honoraires :
                <ul>
                    <li class="mt-4 mb-3">
                      <strong>L’honoraire au temps passé</strong>
                    </li>
                    Dans le cas du recours à ce type de tarification, les honoraires sont fonction du temps qui est passé sur le dossier du client.<br><br>
                    <li class="mb-3">
                      <strong>L’honoraire forfaitaire </strong>
                    </li>
                    Les honoraires sont fixés globalement et par avance au début du dossier pour une prestation définie.<br>
                    Il comprend l’ensemble des diligences à accomplir et inclue dans les dossiers judiciaires, devant le Tribunal ou la Cour d’appel, les rendez-vous, les entretiens téléphoniques, conclusions, suivi du dossier et audiences.<br><br>
                    <li class="mb-3">
                      <strong>L’honoraire complémentaire de résultat</strong>
                    </li>
                    La rémunération de base peut être accompagnée d’un honoraire <strong>complémentaire</strong> dit de résultat, conformément à nos règles déontologiques.<br>
                    Cet honoraire complémentaire de résultat s’établit en fonction d’un pourcentage, préalablement fixé en accord avec le client, des sommes tant recouvrées qu’économisées par celui-ci en matière juridique, notamment transaction ou rupture conventionnelle, ou judiciaire à l’issue d’une décision de justice.<br><br>
                    <li class="mb-3">
                      <strong>L’honoraire complémentaire de résultat</strong>
                    </li>
                    L’avocat propose aux entreprises un abonnement mensuel / trimestriel révisable selon l’évolution de leurs besoins <strong>à partir de 600 € HT / mois</strong> (incluant jusqu’à 4 heures d’assistance).<br>
                    L’abonnement est l’offre la plus adaptée aux entreprises désireuses d’obtenir des réponses régulières et précises à leurs interrogations. Il permet un suivi de l’ensemble des problématiques rencontrées par l’entreprise en droit social pour un coût limité.
                </ul>
            </p>
        </div>   
    </div>
  </div>
</section>

{% endblock %}
